body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #effcef !important;
}
.primar-color {
  color: #4fb14f;
}
.bg-primar {
  background-color: #4fb14f;
}
.bg-primar1 {
  background-color: #8adaac59;
}

.fw_500 {
  font-weight: 500;
}
.bg-effcef {
  background-color: #effcef;
}

.color-fff {
  color: #fff;
}
.bg-fff {
  background-color: #fff;
}
.color-000 {
  color: #000;
}

.first-card {
  height: 22rem;
}

.horizontal-line {
  border: 1px solid hsla(0, 0%, 44%, 0.65);
}
.react-select {
  width: 8rem;
}
.react-select:focus {
  outline: none;
}

.fs_15 {
  font-size: 15px;
}
.no-scrollbars {
  overflow: auto;
  scrollbar-width: none;
}

.no-scrollbars::-webkit-scrollbar {
  display: none;
}

.domain {
  display: none;
}
